In [47]:
import pandas as pd

In [48]:
df = pd.read_csv('MATICUSDT-trades-2023-02.csv',
                names=["id","price","qty","quote_qty","time","is_buyer_maker","is_best_match"])
df.time = pd.to_datetime(df.time, unit="ms")
df.set_index("time", inplace=True)
df

,id,price,qty,quote_qty,is_buyer_maker,is_best_match
time,,,,,,
2023-02-01 00:00:04.085,311723510,1.1095,128.3,142.34885,False,True
2023-02-01 00:00:04.085,311723511,1.1095,22.9,25.40755,False,True
2023-02-01 00:00:04.085,311723512,1.1095,248.8,276.04360,False,True
2023-02-01 00:00:04.277,311723513,1.1096,18.0,19.97280,False,True
2023-02-01 00:00:06.254,311723514,1.1095,80.0,88.76000,True,True
...,...,...,...,...,...,...
2023-02-28 23:59:59.294,320568489,1.1963,37.9,45.33977,False,True
2023-02-28 23:59:59.294,320568490,1.1963,1870.4,2237.55952,False,True
2023-02-28 23:59:59.392,320568491,1.1964,365.6,437.40384,False,True
2023-02-28 23:59:59.392,320568492,1.1964,490.9,587.31276,False,True
2023-02-28 23:59:59.392,320568493,1.1964,354.6,424.24344,False,True

In [49]:
df["buy_vol"] = df.qty * (1 - df["is_buyer_maker"])
df

,id,price,qty,quote_qty,is_buyer_maker,is_best_match,buy_vol
time,,,,,,,
2023-02-01 00:00:04.085,311723510,1.1095,128.3,142.34885,False,True,128.3
2023-02-01 00:00:04.085,311723511,1.1095,22.9,25.40755,False,True,22.9
2023-02-01 00:00:04.085,311723512,1.1095,248.8,276.04360,False,True,248.8
2023-02-01 00:00:04.277,311723513,1.1096,18.0,19.97280,False,True,18.0
2023-02-01 00:00:06.254,311723514,1.1095,80.0,88.76000,True,True,0.0
...,...,...,...,...,...,...,...
2023-02-28 23:59:59.294,320568489,1.1963,37.9,45.33977,False,True,37.9
2023-02-28 23:59:59.294,320568490,1.1963,1870.4,2237.55952,False,True,1870.4
2023-02-28 23:59:59.392,320568491,1.1964,365.6,437.40384,False,True,365.6
2023-02-28 23:59:59.392,320568492,1.1964,490.9,587.31276,False,True,490.9
2023-02-28 23:59:59.392,320568493,1.1964,354.6,424.24344,False,True,354.6

In [50]:
df["sell_vol"] = df.qty * df["is_buyer_maker"]
df

,id,price,qty,quote_qty,is_buyer_maker,is_best_match,buy_vol,sell_vol
time,,,,,,,,
2023-02-01 00:00:04.085,311723510,1.1095,128.3,142.34885,False,True,128.3,0.0
2023-02-01 00:00:04.085,311723511,1.1095,22.9,25.40755,False,True,22.9,0.0
2023-02-01 00:00:04.085,311723512,1.1095,248.8,276.04360,False,True,248.8,0.0
2023-02-01 00:00:04.277,311723513,1.1096,18.0,19.97280,False,True,18.0,0.0
2023-02-01 00:00:06.254,311723514,1.1095,80.0,88.76000,True,True,0.0,80.0
...,...,...,...,...,...,...,...,...
2023-02-28 23:59:59.294,320568489,1.1963,37.9,45.33977,False,True,37.9,0.0
2023-02-28 23:59:59.294,320568490,1.1963,1870.4,2237.55952,False,True,1870.4,0.0
2023-02-28 23:59:59.392,320568491,1.1964,365.6,437.40384,False,True,365.6,0.0
2023-02-28 23:59:59.392,320568492,1.1964,490.9,587.31276,False,True,490.9,0.0
2023-02-28 23:59:59.392,320568493,1.1964,354.6,424.24344,False,True,354.6,0.0

In [51]:
df["vol_delta"] = df["buy_vol"] - df["sell_vol"]

df

,id,price,qty,quote_qty,is_buyer_maker,is_best_match,buy_vol,sell_vol,vol_delta
time,,,,,,,,,
2023-02-01 00:00:04.085,311723510,1.1095,128.3,142.34885,False,True,128.3,0.0,128.3
2023-02-01 00:00:04.085,311723511,1.1095,22.9,25.40755,False,True,22.9,0.0,22.9
2023-02-01 00:00:04.085,311723512,1.1095,248.8,276.04360,False,True,248.8,0.0,248.8
2023-02-01 00:00:04.277,311723513,1.1096,18.0,19.97280,False,True,18.0,0.0,18.0
2023-02-01 00:00:06.254,311723514,1.1095,80.0,88.76000,True,True,0.0,80.0,-80.0
...,...,...,...,...,...,...,...,...,...
2023-02-28 23:59:59.294,320568489,1.1963,37.9,45.33977,False,True,37.9,0.0,37.9
2023-02-28 23:59:59.294,320568490,1.1963,1870.4,2237.55952,False,True,1870.4,0.0,1870.4
2023-02-28 23:59:59.392,320568491,1.1964,365.6,437.40384,False,True,365.6,0.0,365.6
2023-02-28 23:59:59.392,320568492,1.1964,490.9,587.31276,False,True,490.9,0.0,490.9
2023-02-28 23:59:59.392,320568493,1.1964,354.6,424.24344,False,True,354.6,0.0,354.6

In [52]:
vol_delta = df["vol_delta"]
vol_delta

time
2023-02-01 00:00:04.085     128.3
2023-02-01 00:00:04.085      22.9
2023-02-01 00:00:04.085     248.8
2023-02-01 00:00:04.277      18.0
2023-02-01 00:00:06.254     -80.0
                            ...
2023-02-28 23:59:59.294      37.9
2023-02-28 23:59:59.294    1870.4
2023-02-28 23:59:59.392     365.6
2023-02-28 23:59:59.392     490.9
2023-02-28 23:59:59.392     354.6
Name: vol_delta, Length: 8844984, dtype: float64

In [53]:
cvd = vol_delta.groupby(pd.Grouper(freq="7D")).cumsum()
cvd

time
2023-02-01 00:00:04.085         128.3
2023-02-01 00:00:04.085         151.2
2023-02-01 00:00:04.085         400.0
2023-02-01 00:00:04.277         418.0
2023-02-01 00:00:06.254         338.0
                              ...
2023-02-28 23:59:59.294   -17646312.4
2023-02-28 23:59:59.294   -17644442.0
2023-02-28 23:59:59.392   -17644076.4
2023-02-28 23:59:59.392   -17643585.5
2023-02-28 23:59:59.392   -17643230.9
Name: vol_delta, Length: 8844984, dtype: float64

In [76]:
cvd_candles = cvd.resample("1H").agg(["max","min","first","last"])
cvd_candles.columns = ["high","low","open","close"]
cvd_candles

                           high         low        open       close
time
2023-02-01 00:00:00     11860.0   -483444.0       128.3   -322245.2
2023-02-01 01:00:00   -302922.2   -464495.1   -322645.2   -423435.3
2023-02-01 02:00:00   -410154.7   -571184.5   -423416.4   -542073.5
2023-02-01 03:00:00   -507992.1   -868088.3   -542038.4   -868088.3
2023-02-01 04:00:00   -868359.1  -1065016.4   -868377.1   -964903.1
...                         ...         ...         ...         ...
2023-02-28 19:00:00 -12809706.6 -13093646.9 -12860519.0 -12895634.5
2023-02-28 20:00:00 -12854498.5 -15658381.4 -12895885.7 -15536696.4
2023-02-28 21:00:00 -15459858.6 -17561706.3 -15537175.1 -17406197.1
2023-02-28 22:00:00 -17321834.5 -17585432.0 -17406113.2 -17576300.5
2023-02-28 23:00:00 -17322808.4 -17671969.7 -17576440.5 -17643230.9

[672 rows x 4 columns]

In [77]:
price_candles = df.price.resample("1H").agg(["max","min","first","last"])
price_candles.columns = ["high","low","open","close"]
price_candles

                       high     low    open   close
time
2023-02-01 00:00:00  1.1270  1.1059  1.1095  1.1078
2023-02-01 01:00:00  1.1119  1.1017  1.1077  1.1080
2023-02-01 02:00:00  1.1090  1.1023  1.1081  1.1058
2023-02-01 03:00:00  1.1076  1.0984  1.1059  1.1062
2023-02-01 04:00:00  1.1080  1.1015  1.1062  1.1040
...                     ...     ...     ...     ...
2023-02-28 19:00:00  1.2325  1.2121  1.2313  1.2156
2023-02-28 20:00:00  1.2242  1.2050  1.2157  1.2175
2023-02-28 21:00:00  1.2175  1.1803  1.2175  1.1917
2023-02-28 22:00:00  1.2065  1.1881  1.1918  1.2024
2023-02-28 23:00:00  1.2061  1.1923  1.2023  1.1964

[672 rows x 4 columns]

In [79]:
from plotly.subplots import make_subplots
import plotly.graph_objects as go
from plotly.offline import plot


fig = make_subplots(rows=2, cols=1, shared_xaxes=True)

fig = fig.add_trace(go.Candlestick(
        x = price_candles.index,
        open = price_candles.open,
        high = price_candles.high,
        low = price_candles.low,
        close = price_candles.close),
    row=1, col=1)

fig = fig.add_trace(go.Candlestick(
        x = cvd_candles.index,
        open = cvd_candles.open,
        high = cvd_candles.high,
        low = cvd_candles.low,
        close = cvd_candles.close),
    row=2, col=1)

fig.update_xaxes(rangeslider_visible=False)
# fig.show()

plot(fig, auto_open=True)

'temp-plot.html'

In [ ]:
from plotly.offline import plot
import plotly.graph_objs as go

fig = go.Figure(data=[go.Bar(y=[1, 3, 2])])
plot(fig, auto_open=True)

In [27]:
import plotly.graph_objects as go

import pandas as pd
from datetime import datetime

df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/finance-charts-apple.csv')

print(df.Date)

# fig = go.Figure(data=[go.Candlestick(x=df['Date'],
#                 open=df['AAPL.Open'],
#                 high=df['AAPL.High'],
#                 low=df['AAPL.Low'],
#                 close=df['AAPL.Close'])])

# fig.show()

0      2015-02-17
1      2015-02-18
2      2015-02-19
3      2015-02-20
4      2015-02-23
          ...
501    2017-02-10
502    2017-02-13
503    2017-02-14
504    2017-02-15
505    2017-02-16
Name: Date, Length: 506, dtype: object