In [4]:
import pandas as pd
import pandas_ta as ta
import yfinance as yf

In [9]:
df = yf.download('amzn', period='1y', interval='1H')
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2022-03-09 12:30:00,137.985504,139.389999,137.985504,139.217010,139.217010,0
2022-03-09 13:30:00,139.165253,139.378510,138.454010,138.783997,138.783997,230544
2022-03-09 14:30:00,138.792511,140.250000,138.685501,139.695755,139.695755,331020
2022-03-09 15:30:00,139.705002,139.878006,138.512497,139.237000,139.237000,449602
2022-03-10 09:30:00,145.684998,147.748749,143.977997,146.296249,146.296249,2607060
...,...,...,...,...,...,...
2023-03-08 15:30:00,93.464996,94.029999,93.404999,93.919998,93.919998,5037603
2023-03-09 09:30:00,93.680000,95.800003,93.559998,95.720001,95.720001,12940669
2023-03-09 10:30:00,95.720001,96.160004,95.139999,95.180901,95.180901,7181789
2023-03-09 11:30:00,95.190002,95.824997,95.099998,95.366699,95.366699,5973566
2023-03-09 12:30:00,95.370003,95.464996,94.660004,94.855003,94.855003,2472100

In [11]:
help(df.ta.indicators)

Help on method indicators in module pandas_ta.core:

indicators(**kwargs) method of pandas_ta.core.AnalysisIndicators instance
    List of Indicators

    kwargs:
        as_list (bool, optional): When True, it returns a list of the
            indicators. Default: False.
        exclude (list, optional): The passed in list will be excluded
            from the indicators list. Default: None.

    Returns:
        Prints the list of indicators. If as_list=True, then a list.