In [2]:
from binance.client import Client

client = Client()

klines = client.get_historical_klines("ETHUSDT", Client.KLINE_INTERVAL_1HOUR, "6 months ago UTC")

In [8]:
import pandas as pd
import pandas_ta as ta

df = pd.DataFrame(klines, columns = ["open_time", "open", "high", "low", "close", "vol", "close_time", "quote_vol", \
                                    "trades", "taker_base_vol", "taker_quote_vol", "ignore"])

df = df[["open_time","open", "high", "low", "close"]]

df["open_time"] = pd.to_datetime(df["open_time"], unit="ms")

In [9]:
df

,open_time,open,high,low,close
0,2022-09-21 13:00:00,1356.14000000,1357.48000000,1344.27000000,1348.19000000
1,2022-09-21 14:00:00,1348.18000000,1357.80000000,1340.71000000,1342.62000000
2,2022-09-21 15:00:00,1342.62000000,1349.22000000,1334.01000000,1343.05000000
3,2022-09-21 16:00:00,1343.06000000,1353.57000000,1340.24000000,1341.08000000
4,2022-09-21 17:00:00,1341.09000000,1400.00000000,1340.72000000,1397.50000000
...,...,...,...,...,...
4339,2023-03-21 08:00:00,1730.34000000,1740.29000000,1725.00000000,1737.13000000
4340,2023-03-21 09:00:00,1737.13000000,1755.91000000,1734.53000000,1748.40000000
4341,2023-03-21 10:00:00,1748.40000000,1767.77000000,1747.07000000,1757.98000000
4342,2023-03-21 11:00:00,1757.98000000,1764.00000000,1753.26000000,1761.34000000
4343,2023-03-21 12:00:00,1761.34000000,1762.25000000,1760.33000000,1760.33000000